{% assign page = include.page %}

<header>
  <div class="panel">
    <br>
    {% if page.foto_emisor %}
    <a href="{{ '/search/?e=' | append: page.emisor | prepend: site.baseurl }}"
        class="foto-emisor">
      <img src="{{ site.baseurl }}/assets/img/emisores/{{ page.foto_emisor }}">
    </a>
    {% endif %}

    <h4>
      <q>
        {% if include.link %}
        <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">
          {{ page.title }}
        </a>
        {% else %}
        {{ page.title }}
        {% endif %}
      </q>
    </h4>

    <ul class="tags">
      {% assign tags_num = (page.tags | size) %}
      {% if tags_num > 0 %}
      <li><i class="fa fa-tags"></i></li>
      {% endif %}
      {% for tag in page.tags %}
      <li>
        <a class="tag" href="{{ '/search/?t=' | append: tag | prepend: site.baseurl }}">#{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="clearfix">
      <ul class="meta">
        <li>
            <a href="{{ '/search/?e=' | append: page.emisor | prepend: site.baseurl }}"><i class="fa fa-user"></i> {{ page.emisor }}</a>
        </li>
        {% if page.icons %}
        <li>
          <ul class="icons">
            {% include icons.html icons=page.icons %}
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% if include.eye_catch != false and page.eye_catch %}
  <p style="text-align: center">
    <img class="eye-catch" src="{{ page.eye_catch }}"/>
  </p>
  {% endif %}
</header>

<h3 class="resultado">{{ page.resultado }}</h3>
